.a { background-color: #ff0000; padding: 12px;}
.b { background-color: #ffa500; padding: 12px;}
.c { background-color: #ffff00; padding: 12px;}
.d { background-color: #008000; padding: 12px;}
.e { background-color: #0000ff; padding: 12px;}
.f { background-color: #4b0082; padding: 12px;}
.g { background-color: #800080; padding: 12px;}